<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "For The First Time" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= favicon_link_tag 'favicon.png' %> <!-- ファビコンタグ -->
    <link rel="apple-touch-icon" href="<%= asset_path 'icon.png' %>"> <!-- Apple Touch Icon -->

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags(default_meta_tags) %> <!-- Meta Tags -->
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header_logged_in' %>
    <% else %>
      <%= render 'shared/header_logged_out' %>
    <% end %>

    <%= render 'shared/flash_messages' %>

    <%= yield %>
  </body>
</html>
